@model SteelStudio.Common.Models.Category

@{
    ViewBag.Title = "Crear nueva categoria";
    Layout = "~/Views/Shared/_LayoutDesktop.cshtml";
}

<div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Escritorio", "Index", "Desktop")
            </li>
            <li>
                <i class="icon-trello"></i>
                @Html.ActionLink("Categorias", "Index", "Categories")
            </li>
            <li class="active">Crear categoria</li>
        </ul><!--.breadcrumb-->
</div>

<div class="page-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="space-6"></div>
            @if (ViewBag.Creado == "Y")
            {
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok green"></i>
                    <strong class="green">
                        Se ha creado correctamente la categoria.
                    </strong>

                </div>

            }
            @if (ViewBag.Creado == "E")
            {
                <div class="alert alert-block alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        La categoria ya se encuentra, no pudo ser agregada.
                    </strong>
                </div>

            }

            <div class="row-fluid">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Crear nueva categoria</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Initials, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Initials, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Initials, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                &nbsp;
                                @Html.ActionLink("Atrás", "Index", new { }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
